DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/cinemarec
SECRET_KEY=change-me-to-a-random-secret-key-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
USE_SENTENCE_TRANSFORMERS=false
MODELS_PATH=../ml/models
CSV_PATH=../data_movies_ВКР2.csv
# OMDB_API_KEY=your_omdb_api_key
TMDB_API_KEY=
